.cofh-padding {
	padding: 25px;
}

#sidebar-menu ul {
	list-style-type: none;
	padding-left: 18px;
}

#sidebar-menu li {
	padding: 6px 0;
}

#sidebar-menu li:not(:last-child) {
	border-bottom: 1px solid #dddddd;
}

#sidebar-menu li a {
	display: inline-block;
	width: 88%;
}

#sidebar-menu li a:nth-child(2) {
	width: 10%;
	text-align: center;
	color: #000;
}

#sidebar-menu li>a:nth-child(2)>i {
	transition: transform 0.2s;
}

#sidebar-menu li.uk-active>a {
	font-weight: bold;
}

#sidebar-menu li.uk-open>a:nth-child(2)>i {
	transform: rotate(90deg);
}
