h1, h2 {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}

p {
    text-align: justify;
}

.uk-float-left .uk-thumbnail, .uk-float-right .uk-thumbnail {
    margin-bottom: 20px;
}

@media(min-width: 480px) {
    .uk-float-left .uk-thumbnail {
        margin-right: 20px;
    }

    .uk-float-right .uk-thumbnail {
        margin-left: 20px;
    }
}

.cofh-padding {
    padding: 25px;
}

.cofh-navicon {
    width: 20px;
    margin-right: 5px;
}

.cofh-download-logo {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#sidebar-menu {
    border-right: 2px solid #DBDBDB;
}
