.cofh-padding {
    padding: 25px;
}

.cofh-navicon {
    width: 20px;
    margin-right: 5px;
}

.cofh-download-logo {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

#sidebar-menu {
    position: fixed;
    width: 22%;
    border-right: 2px solid #DBDBDB;
}
