/* --- Header Mods --- */

.headerMod {
	display: inline-block;
	vertical-align: top;
	max-width: 20%;
	max-width: 256px;
}

#modThumbRow {
	display: block;
	text-align: center;
	overflow: hidden;
}

.enlarge {
    transform: scale(.9375);
    transition: transform .3s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.enlarge:hover {
    transform: scale(1);
}
.headerMod img.enlarge {
    text-align: center;
	width: 100%;
}
.undersquarelink, .undersquarelink:link, .undersquarelink:visited, .undersquarelink:hover, .undersquarelink:active {
    color: inherit;
    text-decoration: none;
}
.undersquarelink:hover {
    text-decoration: underline;
}