<div class="themed-widgets">
  <div>
    <iframe src="https://discord.com/widget?id=399037120930512897&theme=dark" {{with .}}height="{{ . }}" {{end}}allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div>
  <div>
    <iframe src="https://discord.com/widget?id=399037120930512897&theme=light" {{with .}}height="{{ . }}" {{end}} allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div>
</div>
