---
title: Downloads
layout: simple_info
redirect_from: /downloads.html
---

<p>
    This page lists download links for all Team CoFH mods. For modpack permissions, see <a href="/permissions/">Permissions</a>.
</p>

<p>
    Before installing a mod, <em>always back up your world!</em> Especially when it's a development build.
</p>

<p>
    Report bugs and suggest new things <a href="https://github.com/CoFH/Feedback" target="_blank">here</a>.
</p>

<ul class="uk-grid uk-grid-width-large-1-2" data-uk-grid-margin data-uk-grid-match="{target: '.uk-panel'}">
    {% for mods in site.data.mods %}
    <li id="{{mods.tag}}">
        <div class="uk-panel uk-panel-box">
            {% if mods.logo %}
                <div class="cofh-download-logo" style="background-image: url({{ mods.logo }}); {{ mods.logo-helper }}" title="CoFH Core"></div>
            {% endif %}
            <h3>{{mods.name}}</h3>
            <h4><strong>Requirements:</strong></h4>
            <ul>
                {% for requirement in mods.requirements %}
                    <li><a href="{{ requirement.link }}" {% if requirement.internal == nil %}target="_blank"{% endif %}>{{ requirement.name }}</a>
                {% endfor %}
            </ul>

            {% if mods.note %}
                <p>{{ mods.note }}</p>
            {% endif %}

            <div class="uk-button-group uk-margin-top">
                <a class="uk-button uk-button-small uk-button-success uk-text-bold" href="{{mods.links.curse}}" target="_blank">Download on Curse</a>
                <a class="uk-button uk-button-small" href="{{mods.links.forge}}" target="_blank">CurseForge</a>
                {% if mods.links.change %}
                    <a class="uk-button uk-button-small" href="{{mods.links.change}}" target="_blank">Changelog</a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
