<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Required</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>restriction</td>
                <td>Yes</td>
                <td>String</td>
                <td>N/A</td>
                <td>Whether the given list of biomes should be used as a blacklist or as a whitelist of biomes to generate in. Can be either <code>"blacklist"</code> or <code>"whitelist"</code>.</td>
            </tr>
            <tr>
                <td>value</td>
                <td>Yes</td>
                <td>Array of <a href="#biome-entry">biome entries</a></td>
                <td>N/A</td>
                <td>The biomes that the restriction applies to.</td>
            </tr>
        </tbody>
    </table>
</div>
