<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Required</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type</td>
                <td>Yes</td>
                <td>String</td>
                <td>N/A</td>
                <td>How the biome entry matches biomes. Possible values are <code>"name"</code>, <code>"id"</code>, <code>"temperature"</code> and <code>"dictionary"</code>.</td>
            </tr>
            <tr>
                <td>entry</td>
                <td>Yes</td>
                <td>String / array of strings</td>
                <td>N/A</td>
                <td>
                    The value used to match biomes. Differs depending on the value <code>type</code>:

                    <ul>
                        <li><code>name</code>: The full names of one or more biomes, as seen in the F3 debug screen.</li>
                        <li><code>id</code>: The internally registered names of one or more biomes.</li>
                        <li><code>temperature</code>: One or more temperature categories that biomes can be in. Possible temperature categories are <code>COLD</code>, <code>MEDIUM</code>, <code>WARM</code> and <code>OCEAN</code>.</li>
                        <li><code>dictionary</code>: One or more Forge biome tags that biomes can be associated with. A list of possible Forge biome tags can be found <a href="https://pastebin.com/0NH383ps" target="_blank">here</a>.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>whitelist</td>
                <td>No</td>
                <td>Boolean</td>
                <td><code>true</code></td>
                <td>If <code>false</code>, the biome entry specifies an exception to the blacklist or whitelist it is in.</td>
            </tr>
            <tr>
                <td>rarity</td>
                <td>No</td>
                <td>Number (integer)</td>
                <td><code>-1</code></td>
                <td>If greater than <code>1</code>, a random chance is added to determining whether a biome matches the entry. One in [rarity] attempts to match a matching biome will go through. This can be used to make a feature generate more rarely in certain biomes.</td>
            </tr>
        </tbody>
    </table>
</div>
