<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Required</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>restriction</td>
                <td>Yes</td>
                <td>String</td>
                <td>N/A</td>
                <td>Whether the given list of dimensions should be used as a blacklist or as a whitelist of biomes to generate in. Can be either <code>"blacklist"</code> or <code>"whitelist"</code>.</td>
            </tr>
            <tr>
                <td>value</td>
                <td>Yes</td>
                <td>Array of numbers (integers)</td>
                <td>N/A</td>
                <td>The IDs of the dimensions that the restriction applies to. The vanilla dimensions' IDs are as follows: <code>0</code> for the Overworld, <code>-1</code> for the Nether and <code>1</code> for the End.</td>
            </tr>
        </tbody>
    </table>
</div>
