<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Required</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>distribution</td>
                <td>Yes</td>
                <td>String</td>
                <td>N/A</td>
                <td>How the generated features are distributed in the world. Depending on the type of distribution, more values may need to be added to the generation entry. See <a href="#distribution-types">Distribution types</a> for a list of available distribution types.</td>
            </tr>
            <tr>
                <td>generator</td>
                <td>Yes</td>
                <td><a href="#generator-entries">Generator entry</a> / <a href="#weighted-array">weighted array</a> of generator entries</td>
                <td>N/A</td>
                <td>The type of feature to generate. May be specified as a weighted array with multiple types of features to randomly choose from.</td>
            </tr>
            <!-- TODO: material can also be set here (overrides generator defaults?) -->
            <tr>
                <td class="cofh-nowrap">cluster-count</td>
                <td>Yes</td>
                <td>Number (integer)</td>
                <td>N/A</td>
                <td>How many attempts to generate the feature are done per chunk.</td>
            </tr>
            <tr>
                <td class="cofh-nowrap">chunk-chance</td>
                <td>No</td>
                <td>Number (integer)</td>
                <td><code>1</code></td>
                <td>The chance of the feature being generated in a chunk. Read as follows: one in [chance] chunks.</td>
            </tr>
            <tr>
                <td class="cofh-nowrap">in-village</td>
                <td>No</td>
                <td>Boolean</td>
                <td><code>true</code></td>
                <td>Whether the feature may be generated in villages.</td>
            </tr>
            <tr>
                <td class="cofh-nowrap">mid-air</td>
                <td>No</td>
                <td>Boolean</td>
                <td><code>false</code></td>
                <td>When <code>true</code>, forces the feature to be generated in mid-air.</td>
            </tr>
            <tr>
                <td>biome</td>
                <td>No</td>
                <td><a href="#biome-restriction-entries">Biome restriction entry</a></td>
                <td>(Any biome)</td>
                <td>In which biomes the feature may be generated.</td>
            </tr>
            <tr>
                <td>dimension</td>
                <td>No</td>
                <td><a href="#dimension-restriction-entries">Dimension restriction entry</a></td>
                <td>(Any dimension)</td>
                <td>In which dimensions the feature may be generated.</td>
            </tr>
            <tr>
                <td>enabled</td>
                <td>No</td>
                <td>Boolean</td>
                <td><code>true</code></td>
                <td>Whether the entry is active. If <code>false</code>, the feature will not be generated.</td>
            </tr>
            <tr>
                <td>retrogen</td>
                <td>No</td>
                <td>Boolean</td>
                <td><code>false</code></td>
                <td>Whether to generate in previously generated chunks. This will only have effect if the option <code>RetroactiveGeneration</code> is set to <code>true</code> in CoFH World's configuration file. To retroactively generate in chunks where the feature already generated, change the entry's name.</td>
            </tr>
        </tbody>
    </table>
</div>
