<ul class="uk-subnav uk-subnav-line uk-subnav-pill" data-uk-switcher="{ connect: '#generator-switcher' }">
    <li><a href>cluster</a></li>
    <li><a href>sparse-cluster</a></li>
    <li><a href>large-vein</a></li>
    <li><a href>decoration</a></li>
    <li><a href>small-tree</a></li>
    <li><a href>plate</a></li>
    <li><a href>boulder</a></li>
    <li><a href>lake</a></li>
    <li><a href>geode</a></li>
    <li><a href>spike</a></li>
    <li><a href>stalagmite</a></li>
    <li><a href>stalactite</a></li>
</ul>

<div class="uk-panel uk-panel-box uk-text-small">
    <ul id="generator-switcher" class="uk-switcher">
        <li>
            <p>
                The <code>cluster</code> generator creates simple groups of blocks (<dfn>clusters</dfn>). Ore blocks are generated like this, as well as deposits of dirt, gravel, granite, diorite and andesite.
            </p>

            <p>
                The following value must be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cofh-nowrap">cluster-size</td>
                            <td>Yes</td>
                            <td>Number (integer)</td>
                            <td>N/A</td>
                            <td>How large clusters of blocks are. This value is not measured in blocks; some experimenting will be needed to obtain the desired result.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>sparse-cluster</code> generator is mostly the same as the <code>cluster</code> generator, with one exception. When the <code>cluster-size</code> value is set to less than <code>4</code>, clusters will only have a certain chance to actually generate, instead of generating a single block or so every time. At <code>3</code>, one in 3 clusters will actually generate. At <code>2</code> it is one in 6 clusters, and at <code>1</code> it is one in 12 clusters.
            </p>
        </li>
        <li>
            <p>
                The <code>large-vein</code> generator is similar to <code>cluster</code>, except the groups of blocks it creates can be much larger. Use with caution.
            </p>

            <p>
                The following values can be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cofh-nowrap">cluster-size</td>
                            <td>Yes</td>
                            <td>Number (integer)</td>
                            <td>N/A</td>
                            <td>How large clusters of blocks are. This value is not measured in blocks; some experimenting will be needed to obtain the desired result.</td>
                        </tr>
                        <tr>
                            <td>sparse</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>If <code>true</code>, veins are generated smaller and more spread out, looking somewhat like neurons. If <code>false</code>, veins are generated much larger and more dense, closer to how the <code>cluster</code> generator works.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>decoration</code> generator creates groups of single blocks scattered around on a surface. Small plants and cacti are generated like this, as well as fire blocks in the Nether.
            </p>

            <p>
                Meant to be used with the <code>decoration</code> distribution.
            </p>

            <p>
                The following values must or may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cofh-nowrap">cluster-size</td>
                            <td>Yes</td>
                            <td>Number (integer)</td>
                            <td>N/A</td>
                            <td>How many blocks a single group of blocks may contain at most.</td>
                        </tr>
                        <tr>
                            <td>surface</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / array of block entries</td>
                            <td>Grass block</td>
                            <td>The block type or block types that blocks in a group may generate on top of.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">see-sky</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>Whether to only generate in places with a direct line of sight to the sky.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">check-stay</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>Specifies whether to only generate blocks that can be sustained by the blocks they are generated on top of. For example, sugar cane cannot be sustained by blocks that are not directly next to water.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">stack-height</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>1</code></td>
                            <td>How many times to stack a single generated block upwards. Used for things like cacti and sugar cane.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">x-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>8</code></td>
                            <td>How spread out a group of blocks may be, in blocks along the X axis.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">y-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>4</code></td>
                            <td>Ditto, except along the Y axis.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">z-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>8</code></td>
                            <td>Ditto, except along the Z axis.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>small-tree</code> generator creates simple trees. Small oak and birch trees are generated like this.
            </p>

            <p>
                The <code>block</code> value in generator entries is used to generate the trunks of the trees.
            </p>

            <p>
                The following values can be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>surface</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / array of block entries</td>
                            <td>Any block type, or grass blocks and dirt if invalid</td>
                            <td>The block type or block types that trees may generate on top of.</td>
                        </tr>
                        <tr>
                            <td>leaves</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / <a href="#weighted-array">weighted array</a> of block entries</td>
                            <td>None</td>
                            <td>What blocks the leaves of trees are made of.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">min-height</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>5</code></td>
                            <td>The minimum height of trees, in blocks.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">height-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>3</code></td>
                            <td>How much may be added randomly the the minimum height of trees, in blocks.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">tree-checks</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>Whether to verify that trees can properly 'grow' in the locations determined by the distribution type.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">relaxed-growth</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>Whether trees may have blocks adjacent to their trunk at the bottom-most layer. For example, this could let trees generate one block deep in water.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">water-loving</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>Whether to allow trees to generate in water, up to the leaves.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">leaf-variance</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>Whether or not blocks may be missing from the corners of the leaves, giving them a more natural look.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>plate</code> generator creates groups of blocks as cylinders (<dfn>plates</dfn>). Clay deposits are generated like this.
            </p>

            <p>
                The following values must or may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>radius</td>
                            <td>Yes</td>
                            <td>Number (integer)</td>
                            <td>N/A</td>
                            <td>The radius of plates in blocks.</td>
                        </tr>
                        <tr>
                            <td>height</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>1</code></td>
                            <td>Used to determine the height of plates in blocks. This value is used as some kind of radius around a layer of blocks that is always generated. For example, using <code>1</code> here will result in a plate that is 3 blocks high: the middle layer, 1 layer above and 1 layer below.</td>
                        </tr>
                        <tr>
                            <td>slim</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>If <code>true</code>, generated plates are 1 block less tall at the top. By default, the plates are an odd number of blocks high due to the way they are generated (see <dfn>height</dfn>), so this option allows plates that are an even amount of blocks high to be generated.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>boulder</code> generator creates clusters of sphere-like groups of blocks. Moss stone boulders in the mega taiga biome are generated like this.
            </p>

            <p>
                The following values must or may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>diameter</td>
                            <td>Yes</td>
                            <td>Number (integer)</td>
                            <td>N/A</td>
                            <td>The diameter of boulders in blocks.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">size-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>2</code></td>
                            <td>How much a particular boulder's diameter may differ from the set value.</td>
                        </tr>
                        <tr>
                            <td>count</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>3</code></td>
                            <td>How many boulders a single cluster of boulders can contain.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">count-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>0</code></td>
                            <td>How much the amount of boulders may differ per cluster of boulders.</td>
                        </tr>
                        <tr>
                            <td>hollow</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>Whether boulders have a room filled with air blocks inside.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">hollow-size</td>
                            <td>No</td>
                            <td>Number (floating-point)</td>
                            <td><code>0.1665</code> (one sixth)</td>
                            <td>How large the hollow part of hollow boulders is, relatively to the size of the boulders. Can be any value between <code>0.0</code> (exclusive) and <code>1.0</code> (exclusive).</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">hollow-variance</td>
                            <td>No</td>
                            <td>Number (floating-point)</td>
                            <td><code>0.0</code></td>
                            <td>How much the size of the hollow part may differ per hollow boulder.<br />The resulting size of the hollow part is calculated as follows: <code>size * (1 - [random 0.0-1.0] * variance)</code>.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>lake</code> generator creates small bodies of fluid (<dfn>lakes</dfn>). If needed, space is carved out above them. Small bodies of water and lava are generated like this.
            </p>

            <p>
                The <code>block</code> value in generator entries is used to generate the 'fluid' part of the lakes. Typically this is set to a fluid block, but it doesn't have to be.
            </p>

            <p>
                The following values may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cofh-nowrap">use-material</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>Whether the generator takes the set generator materials into account, or ignores them and replaces any block to generate lakes.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">outline-block</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / <a href="#weighted-array">weighted array</a> of block entries</td>
                            <td>None</td>
                            <td>The block or blocks to surround the 'fluid' part of lakes with.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">gap-block</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / <a href="#weighted-array">weighted array</a> of block entries</td>
                            <td>Air</td>
                            <td>The block or blocks that blocks above lakes are replaced with to carve out space.</td>
                        </tr>
                        <!--
                        <tr>
                            <td class="cofh-nowrap">solid-outline</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">total-outline</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td></td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>geode</code> generator creates <dfn>geodes</dfn>, which are 'blobs' of blocks that are surrounded by a layer of blocks called the <dfn>crust</dfn>, and can optionally contain a core of blocks called the <dfn>filler</dfn>.
            </p>

            <p>
                Geodes are similar to lakes, except they are completely filled with blocks instead of carving out space.
            </p>

            <p>
                The following values may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>crust</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / <a href="#weighted-array">weighted array</a> of block entries</td>
                            <td>Stone</td>
                            <td>What blocks the crust of geodes are made of.</td>
                        </tr>
                        <tr>
                            <td>hollow</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>Whether to leave out space in the center of geodes, so that a filler can be generated. This does <em>not</em> mean that the center of geodes will be set to air blocks. Instead, whatever blocks that were there before generating the geode will stay, unless a filler is specified.</td>
                        </tr>
                        <tr>
                            <td>filler</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / <a href="#weighted-array">weighted array</a> of block entries</td>
                            <td>None</td>
                            <td>What blocks the filler of geodes are made of. <code>hollow</code> must be set to <code>true</code> for this to work correctly.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>spike</code> generator creates spikes that point upwards. Spikes extend a few blocks into the surface they are generated on. Packed ice spikes in the ice plains spikes biome are generated like this.
            </p>

            <p>
                The following values may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cofh-nowrap">min-height</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>7</code></td>
                            <td>The minimum height of spikes, in blocks.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">height-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>4</code></td>
                            <td>The maximum amount of blocks that may be randomly added to the minimum height of spikes.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">size-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>2</code></td>
                            <td>The maximum amount of blocks that may be randomly added to the radius of spikes at the bottom.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">position-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>3</code></td>
                            <td>A random offset along the Y axis when determining the position of spikes.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">large-spikes</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>Whether spikes may sometimes be generated as 'large' spikes, which are significantly taller.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">large-spike-chance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>60</code></td>
                            <td>The chance of a generated spike to be a large spike. One in [value] spikes will be generated as a large spike.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">min-large-spike-height-gain</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>10</code></td>
                            <td>The minimum amount of extra layers that large spikes have over regular spikes.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">large-spike-height-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>30</code></td>
                            <td>How many blocks may be added randomly to the minimum height gain of large spikes.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">large-spike-filler-size</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>1</code></td>
                            <td>The radius of the extra layers of blocks that are added to large spikes, in blocks.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>stalagmite</code> generator creates spikes that point upwards (<dfn>stalagmites</dfn>). Unlike the spikes created by the <code>spike</code> generator, which have a mostly uniform width, these spikes are wider at the bottom and thinner at the top.
            </p>

            <p>
                The following values may be added to a generator entry for this generator type:
            </p>
            <div class="uk-overflow-container">
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Required</th>
                            <th>Type</th>
                            <th>Default</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cofh-nowrap">gen-body</td>
                            <td>No</td>
                            <td><a href="#block-entry">Block entry</a> / array of block entries</td>
                            <td>Air</td>
                            <td>What materials the body of stalagmites can generate in. Not quite the same as the generator material, as that only determines where the base may generate.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">min-height</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>7</code></td>
                            <td>The minimum height of stalagmites in blocks.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">height-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>4</code></td>
                            <td>How many blocks may be added randomly to the minimum height of stalagmites.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">gen-size</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>0</code></td>
                            <td>The minimum width of stalagmites at their base, in blocks. If set to <code>0</code>, <code>height-mod</code> will be used to calculate the base width.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">height-mod</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>5</code></td>
                            <td>If <code>genSize</code> is set to <code>0</code>, the height of stalagmites is divided by this value to get their base width in blocks.</td>
                        </tr>
                        <tr>
                            <td class="cofh-nowrap">size-variance</td>
                            <td>No</td>
                            <td>Number (integer)</td>
                            <td><code>2</code></td>
                            <td>How much may be added randomly to the minimum width of stalagmites at their base, in blocks.</td>
                        </tr>
                        <tr>
                            <td>smooth</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>false</code></td>
                            <td>Whether stalagmites have a smooth curve in their shape from bottom to top. If <code>false</code>, stalagmites will be much more narrow and pointy.</td>
                        </tr>
                        <tr>
                            <td>fat</td>
                            <td>No</td>
                            <td>Boolean</td>
                            <td><code>true</code></td>
                            <td>If <code>true</code>, sets stalagmites to be thicker, usually leaving a larger footprint. The stalagmites still respect their set base width, though, which could result in parts being clipped away at the bottom. Used to make stalagmites less narrow higher up.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <p>
                The <code>stalactite</code> generator is nearly identical to the <code>stalagmite</code> generator, except spikes created by this generator point downwards instead of upwards.
            </p>
        </li>
    </ul>
</div>
