<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Required</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>type</td>
                <td>No</td>
                <td>String</td>
                <td>(Set by distribution type)</td>
                <td>Which generator type to use to generate the feature. Depending on the type of generator, more values may need to be added to the generator entry. See <a href="#generator-types">Generator types</a> for a list of available generator types.</td>
            </tr>
            <tr>
                <td>block</td>
                <td>Yes</td>
                <td><a href="#block-entry">Block entry</a> / <a href="#weighted-array">weighted array</a> of block entries</td>
                <td>N/A</td>
                <td>The type(s) of block to generate.</td>
            </tr>
            <tr>
                <td>material</td>
                <td>No</td>
                <td><a href="#block-entry">Block entry</a> / array of block entries</td>
                <td>(Set by distribution type)</td>
                <td>The type(s) of block that may be replaced to generate the feature, like stone for ore blocks.</td>
            </tr>
        </tbody>
    </table>
</div>
