_site/*

!_site/assets/
_site/assets/*

!_site/assets/images

!_site/assets/css
_site/assets/css/*

!_site/assets/css/fonts
!_site/assets/css/uikit

!_site/assets/js
_site/assets/js/*

!_site/assets/js/jquery.min.js
!_site/assets/js/uikit

Thumbs.db
