---
title: Downloads
---

<p>
    This page lists download links for all Team CoFH mods. For modpack permissions, see <a href="/permissions.html">Permissions</a>.
</p>

<p>
    Report bugs and suggest new things <a href="https://github.com/CoFH/Feedback" target="_blank">here</a>.
</p>


<h2>Core mods</h2>
<hr />

<h3>CoFH Core</h3>
<p>Includes CoFHLib, no need to install both.</p>
{% include cursewidget.html mod='cofhcore' %}

<h3>CoFHLib</h3>
<p>Install this for mods that require CoFHLib but not CoFH Core.</p>
{% include cursewidget.html mod='220333-cofhlib' %}

<h2>Content mods</h2>
<hr />

<h3>Thermal Foundation</h3>
<p>Requires CoFH Core.</p>
{% include cursewidget.html mod='222880-thermal-foundation' %}

<h3>Thermal Expansion</h3>
<p>Requires CoFH Core and Thermal Foundation.</p>
{% include cursewidget.html mod='thermalexpansion' %}

<h3>Redstone Arsenal</h3>
<p>Requires CoFH Core. Thermal Expansion is recommended.</p>
{% include cursewidget.html mod='redstone-arsenal' %}

<h3>MineFactory Reloaded</h3>
<p>Requires CoFH Core.</p>
{% include cursewidget.html mod='minefactory-reloaded' %}

<h3>Nether Ores</h3>
<p>Requires CoFH Core.</p>
{% include cursewidget.html mod='netherores' %}

<h2>Other mods</h2>
<hr />

<h3>Tabula Rasa</h3>
<p>Use config files to add new blocks and items! Pairs well with <a href="http://minetweaker3.powerofbytes.com/" target="_blank">MineTweaker</a>.</p>
{% include cursewidget.html mod='223682-tabula-rasa' %}

<h3>CobbleHaters</h3>
<p>Makes Cobblestone blocks impossible to get.</p>
{% include cursewidget.html mod='227473-cobblehaters' %}
