---
layout: simple
---

<p>
  Team CoFH is a group of Minecraft modders known for their work on Thermal Expansion, Redstone Arsenal, CoFH World, and more! 
</p>
<hr />
<h1 class="text-center">Meet the Team</h1>
{% include team-members.html %}
<ul class="list-no-style home-link-list">
  <h2>Links</h2>
  <li><a href="https://discord.gg/uRKrnbH" target="_blank" class="home-link-button"><i class="fab fa-discord"></i> Discord</li></a>
  <li><a href="http://www.twitter.com/TeamCoFH" target="_blank" class="home-link-button"><i class="fab fa-twitter"></i> Twitter</li></a>
  <li><a href="https://www.curseforge.com/members/teamcofh/projects" target="_blank" class="home-link-button"><i class="fas fa-fire"></i> Curseforge</li></a>
  <li><a href="https://www.patreon.com/TeamCoFH" target="_blank" class="home-link-button"><i class="fab fa-patreon"></i> Patreon</li></a>
  <li><a href="http://www.github.com/CoFH" target="_blank" class="home-link-button"><i class="fab fa-github"></i> GitHub</li></a>
</ul>
<div class="home-split">
  {% include elements/discord-widget.html height=600 %}
  {% include elements/twitter-timeline.html height=600 %}
</div>