<div class="themed-widgets">
  <div>
    <a class="twitter-timeline" data-lang="en" data-height="{{.Get 0}}" data-dnt="true" data-theme="dark" data-link-color="#4c96fc" href="https://twitter.com/ToniusMods/lists/team-cofh">Twitter timeline</a>
  </div>
  <div>
    <a class="twitter-timeline" data-lang="en" data-height="{{.Get 0}}" data-dnt="true" data-theme="light" data-link-color="#005bdb" href="https://twitter.com/ToniusMods/lists/team-cofh">Twitter timeline</a>
  </div>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
