<div class="main-navbar-full">
  <nav class="main-navbar" role="navigation" aria-label="Main Navigation">
    <a href="javascript:void(0);" class="navbar-menu nav-link popup" aria-label="Toggle Main Navigation Menu" aria-expanded="false"><i class="fa fa-bars"></i></a>
    <ul class="horz nav-list">
      <li><a href="/about" class="{% if page.url contains '/about' %}{% unless page.url contains '/docs' %}nav-link-selected {% endunless %}{% endif %}nav-link">About</a></li>
      <li><a href="/blog" class="{% if page.url contains '/blog' %}nav-link-selected {% endif %}nav-link">Blog</a></li>
      <li><a href="/docs" class="{% if page.url contains '/docs' %}nav-link-selected {% endif %}nav-link">Documentation</a></li>
      <li><a href="/downloads" class="{% if page.url contains '/downloads' %}nav-link-selected {% endif %}nav-link">Downloads</a></li>
    </ul>
    {% include elements/searchbar.html %}
  </nav>
</div>