<link rel="stylesheet" href="/css/uikit/uikit.gradient.min.css" />
<link rel="stylesheet" href="/css/mmenu/jquery.mmenu.oncanvas.css" />
<link rel="stylesheet" href="/css/mmenu/extensions/jquery.mmenu.themes.css" />
<link rel="stylesheet" href="/css/mmenu/addons/jquery.mmenu.header.css" />
<link rel="stylesheet" href="/css/mmenu/addons/jquery.mmenu.searchfield.css" />
<link rel="stylesheet" href="/css/cofh.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/uikit/uikit.min.js"></script>
<script src="/js/mmenu/jquery.mmenu.oncanvas.min.js"></script>
<script src="/js/mmenu/addons/jquery.mmenu.header.min.js"></script>
<script src="/js/mmenu/addons/jquery.mmenu.searchfield.min.js"></script>
