{% if include.force_zero %}
    {% assign progress = 0 %}
{% else %}
    {% assign pages = 0 %}
    {% assign done_pages = 0 %}

    {% for category in site.data.doctree[include.mod] %}
        {% if category.title != '' %}
            {% for item in category.items %}
                {% assign pages = pages | plus: 1 %}
                {% if item.url %}
                    {% assign done_pages = done_pages | plus: 100 %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% assign progress = done_pages | divided_by: pages %}
{% endif %}

{% if progress == 100 %}
    {% assign class = 'uk-progress-success uk-progress-striped' %}
    {% assign progress_width = progress %}
{% elsif progress > 0 %}
    {% assign class = 'uk-progress-striped uk-active' %}
    {% assign progress_width = progress %}
{% else %}
    {% assign class = 'cofh-progress-danger-faded' %}
    {% assign progress_width = 100 %}
{% endif %}

{% capture progress %}{{ progress | plus: 0.5 | append: '.' | split: '.' | first }}{% endcapture %}

<h3><a href="/docs/{{ include.mod }}/">{{ include.modname }}</a></h3>
<div class="uk-progress uk-border-rounded {{ class }}">
    <div class="uk-progress-bar" style="width: {% if progress_width > 0 %}{{ progress_width }}{% else %}100{% endif %}%;">{{ progress }}%</div>
</div>
