<div>
{%- for item in site.data.downloads[include.minecraft] -%}
    <div class="uk-panel uk-panel-box {% unless forloop.last %}uk-margin-bottom{% endunless %}">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1 uk-width-medium-2-10">
                <div class="cofh-download-logo" style="{% if item.logo %}background-image: url(/assets/images/modlogos/{{item.logo}}.png){% else %}background-color: #dedede{% endif %}"></div>
            </div>
            <div class="uk-width-1-1 uk-width-medium-5-10">
                <h3 id="{{-item.id}}">{{-item.title}}</h3>
                {%- if item.note -%}
                    <p>{{item.note}}</p>
                {%- endif -%}
            </div>
            <div class="uk-width-1-1 uk-width-medium-3-10" data-uk-margin>
                {%- if item.links.download -%}
                    <a href="{{item.links.download}}" class="uk-button uk-button-small uk-button-success uk-text-bold uk-width-1-1">
                        Download on CurseForge
                    </a>
                {%- endif -%}
                {%- if item.links.changelog -%}
                    <a href="{{item.links.changelog}}" class="uk-button uk-button-small uk-width-1-1">
                        Changelog
                    </a>
                {%- endif -%}
                {%- if item.links.docs -%}
                    <a href="{{item.links.docs}}" class="uk-button uk-button-small uk-width-1-1">
                        Documentation
                    </a>
                {%- endif -%}
                {%- if item.links.source -%}
                    <a href="{{item.links.source}}" class="uk-button uk-button-small uk-width-1-1">
                        Source code
                    </a>
                {%- endif -%}
            </div>
        </div>
    </div>
{%- endfor -%}
</div>
