

{% if include.group %}

  {% assign examples = site.world_examples
    | where: "group", include.group
  %}

{% else if include.type %}

  {% assign examples = site.world_examples
    | where: "type", include.type
  %}

{% endif %}

{% assign examples = examples
  | where: "primary", include.primary
%}

{% if examples.size == 0 %}

  {% include notice.html notice="There are currently no examples!" %}

{% endif %}

{% for example in examples %}

  {% include example.md
    type=example.type
    link=example.link
    title=example.title
    images=example.images
    primary=example.primary
    showDocs=include.showDocs
    content=example.content %}

{% endfor %}
