<li>
    <a href="http://www.twitter.com/TeamCoFH" target="_blank">{% if include.icons %}<i class="uk-icon-twitter"></i> {% endif %}Twitter</a>
</li>
<li>
    <a href="https://www.patreon.com/TeamCoFH" target="_blank">{% if include.icons %}<i class="uk-icon-usd"></i> {% endif %}Patreon</a>
</li>
<li>
    <a href="http://www.curse.com/users/TeamCoFH" target="_blank">{% if include.icons %}<i class="uk-icon-download"></i> {% endif %}Curse</a>
</li>
<li>
    <a href="http://minecraft.curseforge.com/members/TeamCoFH" target="_blank">{% if include.icons %}<i class="uk-icon-database"></i> {% endif %}CurseForge</a>
</li>
<li>
    <a href="http://www.github.com/CoFH" target="_blank">{% if include.icons %}<i class="uk-icon-github"></i> {% endif %}GitHub</a>
</li>
<li>
    <a href="http://www.github.com/CoFH/Feedback" target="_blank">{% if include.icons %}<i class="uk-icon-exclamation-circle"></i> {% endif %}Bugs and suggestions</a>
</li>
<li>
    <a href="http://webchat.esper.net/?nick=RedstoneFurnace....&channels=#ThermalExpansion" target="_blank" class="irclink">{% if include.icons %}<i class="uk-icon-comments"></i> {% endif %}IRC Web Chat</a>
</li>
<li>
    <a href="http://www.crafting-guide.com" target="_blank">{% if include.icons %}<i class="uk-icon-wrench"></i> {% endif %}Crafting Guide</a>
</li>
