<li>
    <a href="http://www.twitter.com/TeamCoFH">
        {% if include.icons %}<i class="uk-icon-twitter"></i> {% endif %}
        Twitter
    </a>
</li>
<li>
    <a href="https://www.patreon.com/TeamCoFH">
        {% if include.icons %}<i class="uk-icon-usd"></i> {% endif %}
        Patreon
    </a>
</li>
<li>
    <a href="http://www.curse.com/users/TeamCoFH">
        {% if include.icons %}<i class="uk-icon-download"></i> {% endif %}
        Curse
    </a>
</li>
<li>
    <a href="http://minecraft.curseforge.com/members/TeamCoFH">
        {% if include.icons %}<i class="uk-icon-database"></i> {% endif %}
        CurseForge
    </a>
</li>
<li>
    <a href="http://www.github.com/CoFH">
        {% if include.icons %}<i class="uk-icon-github"></i> {% endif %}
        GitHub
    </a>
</li>
<li>
    <a href="http://www.github.com/CoFH/Feedback">
        {% if include.icons %}<i class="uk-icon-exclamation-circle"></i> {% endif %}
        Issue tracker
    </a>
</li>
<li>
    <a href="https://app.twitch.tv/invite/SipeCoinsSvalna">
        {% if include.icons %}<i class="uk-icon-comments-o"></i> {% endif %}
        Twitch chat
    </a>
</li>
<li>
    <a href="http://webchat.esper.net/?nick=RedstoneFurnace....&channels=#ThermalExpansion" class="irclink">
        {% if include.icons %}<i class="uk-icon-comments"></i> {% endif %}
        IRC web chat
    </a>
</li>
