<a href="/docs/thermal-foundation/vanilla-materials/iron">
    <img src="/assets/images/thermal-foundation/iron-{{ include.type }}.png" style="height: 32px;" title="Iron {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/vanilla-materials/gold">
    <img src="/assets/images/thermal-foundation/gold-{{ include.type }}.png" style="height: 32px;" title="Gold {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/copper">
    <img src="/assets/images/thermal-foundation/copper-{{ include.type }}.png" style="height: 32px;" title="Copper {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/tin">
    <img src="/assets/images/thermal-foundation/tin-{{ include.type }}.png" style="height: 32px;" title="Tin {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/silver">
    <img src="/assets/images/thermal-foundation/silver-{{ include.type }}.png" style="height: 32px;" title="Silver {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/lead">
    <img src="/assets/images/thermal-foundation/lead-{{ include.type }}.png" style="height: 32px;" title="Lead {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/ferrous-metal">
    <img src="/assets/images/thermal-foundation/ferrous-{{ include.type }}.png" style="height: 32px;" title="Ferrous {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/shiny-metal">
    <img src="/assets/images/thermal-foundation/shiny-{{ include.type }}.png" style="height: 32px;" title="Shiny {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/base-metals/mana-infused-metal">
    <img src="/assets/images/thermal-foundation/mana-infused-{{ include.type }}.png" style="height: 32px;" title="Mana Infused {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/alloys/bronze">
    <img src="/assets/images/thermal-foundation/bronze-{{ include.type }}.png" style="height: 32px;" title="Bronze {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/alloys/invar">
    <img src="/assets/images/thermal-foundation/invar-{{ include.type }}.png" style="height: 32px;" title="Invar {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/alloys/electrum">
    <img src="/assets/images/thermal-foundation/electrum-{{ include.type }}.png" style="height: 32px;" title="Electrum {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/alloys/signalum">
    <img src="/assets/images/thermal-foundation/signalum-{{ include.type }}.png" style="height: 32px;" title="Signalum {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/alloys/lumium">
    <img src="/assets/images/thermal-foundation/lumium-{{ include.type }}.png" style="height: 32px;" title="Lumium {{ include.type | capitalize }}" />
</a> 
<a href="/docs/thermal-foundation/alloys/enderium">
    <img src="/assets/images/thermal-foundation/enderium-{{ include.type }}.png" style="height: 32px;" title="Enderium {{ include.type | capitalize }}" />
</a> 
