<ul>
    {% for item in include.items %}
        {% assign url = null %}
        {% if item.url %}
            {% capture url %}{{ include.url }}{{ item.url }}{% endcapture %}
        {% endif %}
        {% if url contains '#' %}
            {% assign urlNext = include.url %}
        {% else %}
            {% assign urlNext = url %}
        {% endif %}
        {% capture urlCheck %}{% if url contains '.html' %}{{ url }}{% else %}{{ url }}/index.html{% endif %}{% endcapture %}
        <li class="{{ item.class }} {% if page.url == urlCheck %}Selected{% endif %}">
            <{% if url %}a href="{{ url }}" {% if item.target %}target="{{ item.target }}"{% endif %}{% else %}span{% endif %}>
                {% if item.image %}<img src="/images/icons-32/{{ item.image }}.png" class="cofh-navicon" /> {% endif %}
                {% if item.icon %}<i class="uk-icon-{{ item.icon }}"></i> {% endif %}
            {{ item.name }}</{% if url %}a{% else %}span{% endif %}>
            {% if item.subitems %}
                {% include mmenu.html items=item.subitems url=urlNext %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
