{%- if include.link_url -%}
    {%- capture full_url -%}/docs/{{ include.link_url }}{%- unless include.link_url contains ".html" -%}index.html{%- endunless -%}{%- endcapture -%}
{%- endif -%}

{%- if include.link_url and include.page_url contains full_url -%}
    <span class="uk-text-bold cofh-nowrap">
        {% include navbox-icon.html icon=include.icon %}
        {{ include.text }}
    </span>
{%- else -%}
    <a {% if include.link_url %}href="/docs/{{include.link_url}}"{% endif %} class="cofh-navbox-link {% unless include.link_url %}uk-text-danger{% endunless %}">
        {% include navbox-icon.html icon=include.icon %}
        <span>{{ include.text }}</span>
    </a>
{%- endif -%}
