<div class="uk-grid uk-grid-match" data-uk-grid-match="{ target: '.uk-panel' }">
    <div class="uk-width-1-5">
        <a href="/"><img src="/images/logo.png" /></a>
    </div>
    <div class="uk-width-4-5">
        <div class="uk-panel uk-margin-top">
            <nav class="uk-navbar">
                <ul class="uk-navbar-nav">
					<a href class="uk-visible-small uk-navbar-brand">Team CoFH</a>
					{% include navbar-nav.html items=site.data.tree.navbar-left %}
                </ul>
                <ul class="uk-navbar-nav uk-navbar-flip">
					{% include navbar-nav.html items=site.data.tree.navbar-right %}
                </ul>
            </nav>
        </div>
    </div>
</div>
