<div class="uk-grid uk-grid-match" data-uk-grid-match="{ target: '.uk-panel' }">
    <div class="uk-hidden-small uk-width-medium-1-5">
        <a href="/"><img src="/images/logo.png" /></a>
    </div>
    <div class="uk-width-1-1 uk-width-medium-4-5">
        <div class="uk-panel uk-margin-top">
            <nav class="uk-navbar">
                <ul class="uk-navbar-nav">
                    <a href class="uk-visible-small uk-navbar-brand">Team CoFH</a>
                    {% for item in site.data.tree.navbar_left %}
                    <li class="{% if item.name == page.title or item.name == page.group %}uk-active{% endif %} {% if item.subitems %}uk-parent{% endif %}" {% if item.subitems %}data-uk-dropdown="{delay: 500}"{% endif %}>
                        <a href{% if item.url %}="{{ item.url }}"{% endif %} {% if item.target %}target="{{ item.target }}"{% endif %}>
                            {% if item.icon %}<i class="uk-icon-{{ item.icon }}"></i> {% endif %}{{ item.name }}{% if item.subitems %} <i class="uk-icon-caret-down"></i>{% endif %}
                        </a>
                        {% if item.subitems %}
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                            {% for subitem in item.subitems %}
                            {% if subitem.name == "-" %}
                                <li class="uk-nav-divider"></li>
                            {% else %}
                                <li class="{% if subitem.name == page.title %}uk-active{% endif %}">
                                    <a href{% if subitem.url %}="{{ subitem.url }}"{% endif %}>
                                        {% if subitem.icon %}<i class="uk-icon-{{ subitem.icon }}"></i> {% endif %}{{ subitem.name }}
                                    </a>
                                </li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <ul class="uk-navbar-nav uk-navbar-flip">
                    {% for item in site.data.tree.navbar_right %}
                    <li {% if item.name == page.title %}class="uk-active"{% endif %}>
                        <a href{% if item.url %}="{{ item.url }}"{% endif %} {% if item.target %}target="{{ item.target }}"{% endif %}>
                            {% if item.icon %}<i class="uk-icon-{{ item.icon }}"></i> {% endif %}{{ item.name }}{% if item.subitems %} <i class="uk-icon-caret-down"></i>{% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
