<tr>
    {%- if include.group.title -%}
        <th class="cofh-navbox-group-title">
            {%- if include.group.url -%}
                {%- capture group_url -%}{{include.url_prefix}}{{include.group.url}}{%- endcapture -%}
                {% include navbox-link.html page_url=include.page_url link_url=group_url text=include.group.title %}
            {%- else -%}
                {{ include.group.title }}
            {%- endif -%}
        </th>

        {%- if include.group.groups -%}
            <td class="cofh-navbox-group-subgroups-container">
        {%- else -%}
            <td class="cofh-navbox-group-items">
        {%- endif -%}
    {%- else -%}
            <td colspan="2" class="cofh-navbox-group-items uk-text-center">
    {%- endif -%}
                {%- if include.group.items -%}
                    {%- if include.group.groups -%}
                        <div style="padding: 2px">
                    {%- endif -%}

                    {%- for item in include.group.items -%}
                        {% include navbox-item.html page_url=include.page_url url_prefix=include.url_prefix item=item last=forloop.last %}
                    {%- endfor -%}

                    {%- if include.group.groups -%}
                        </div>
                    {%- endif -%}
                {%- endif -%}

                {%- if include.group.groups -%}
                    <table class="uk-table cofh-navbox-table cofh-navbox-subgroups-table">
                        <tbody>
                            {%- for subgroup in include.group.groups -%}
                                {% include navbox-group.html group=subgroup page_url=include.page_url url_prefix=include.url_prefix %}
                            {%- endfor -%}
                        </tbody>
                    </table>
                {%- endif -%}
            </td>
</tr>
