{%- assign nav = site.data.docnav[include.nav] -%}
{%- assign url_prefix = nav.url -%}
{%- capture page_url -%}{{ page.url }}{%- if page.url contains ".html" -%}{%- else -%}index.html{%- endif -%}{%- endcapture -%}

<div class="cofh-navbox-container">
    <table class="uk-table cofh-navbox-table">
        <tbody>
            <tr>
                <th colspan="2" class="cofh-navbox-title">
                    {% include navbox-link.html page_url=page_url link_url=nav.url text=nav.title %}
                </th>
            </tr>

            {%- for section in nav.sections -%}
                {%- if section.title -%}
                    <tr>
                        <td colspan="2" class="cofh-navbox-section-title">
                            {%- if section.url -%}
                                {% include navbox-link.html page_url=page_url link_url=section.url text=section.title %}
                            {%- else -%}
                                {{ section.title }}
                            {%- endif -%}
                        </td>
                    </tr>
                {%- endif -%}

                {%- for group in section.groups -%}
                    {% include navbox-group.html group=group url_prefix=url_prefix page_url=page_url %}
                {%- endfor -%}
            {%- endfor -%}
        </tbody>
    </table>
</div>
