<div class="{{ include.class }} uk-form uk-autocomplete cofh-search" data-uk-autocomplete="{ source: pages }">
    <input type="text" placeholder="Search..." />
    <script type="text/autocomplete">
        {% raw %}
        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
            {{~items}}
            <li data-value="{{ $item.value }}" data-url="{{ $item.url }}">
                <a href="{{ $item.url }}">
                    {{ $item.title }}
                </a>
            </li>
            {{/items}}
        </ul>
        {% endraw %}
    </script>
    <button class="uk-button uk-button-primary"><i class="uk-icon-google uk-icon-small"></i></button>
</div>
