<ul class="uk-nav uk-nav-side uk-nav-parent-icon" data-uk-nav>
	{% for item in include.items %}
	<li class="{% if item.name == page.title or page.groups contains item.name %}uk-active{% endif %} {% if item.subitems %}uk-parent{% endif %}">
		<a href{% if item.url and item.subitems == null %}="{{ item.url }}" data-uk-smooth-scroll{% else %}="#"{% endif %} {% if item.target %}target="{{ item.target }}"{% endif %}>
			{% if item.icon %}<i class="uk-icon-{{ item.icon }}"></i> {% endif %}{{ item.name }}
		</a>
		{% if item.subitems %}
		<ul class="uk-nav-sub">
			{% include sidebar-nav-sub.html item=item %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
	<li class="uk-margin-top"><a href data-uk-smooth-scroll><i class="uk-icon-chevron-up"></i> Back to top</a></li>
</ul>
