<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small cofh-info-table">
        <thead>
            <tr>
                <th></th>
                <th>Augment</th>
                <th class="cofh-nowrap">Installable in</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for augment in include.augments %}
                {% assign augment_data = site.data.te5-augments[augment] %}
                {% capture augment_url %}/docs/1.12/thermal-expansion/{{augment_data.url}}{% endcapture %}

                <tr>
                    <td style="width: 48px; min-width: 48px">
                        <a href="{{augment_url}}">
                            <img src="/assets/images/thermal-expansion-5/augment-{{augment}}.{% if augment_data.animated %}gif{% else %}png{% endif %}" alt="{{augment_data.name}}" style="width: 48px; height: 48px" />
                        </a>
                    </td>

                    <td class="cofh-nowrap">
                        <strong><a href="{{augment_url}}">{{ augment_data.name }}</a></strong>
                    </td>

                    <td class="cofh-nowrap">
                        {{ augment_data.installed-in }}
                    </td>

                    <td style="min-width: 200px">
                        {{ augment_data.description }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
