{% for member in site.data.team-members %}
    <div class="uk-panel uk-panel-box uk-margin-bottom">
        <div class="uk-clearfix">
            {% if include.member.avatar %}
                <div class="uk-float-left uk-margin-right">
                    <img src="/assets/images/avatars/{{include.member.avatar}}" class="uk-border-rounded" width="150" />
                </div>
            {% endif %}

            <h1 class="uk-panel-title uk-margin-remove">{{include.member.name}}</h1>

            <p>{{ include.member.about }}</p>

            <div class="uk-text-right uk-margin-large-top">
                <div class="uk-button-group">
                    {% if include.member.social.twitter %}
                        <a class="uk-button" href="https://twitter.com/{{include.member.social.twitter}}" target="_blank">
                            <i class="uk-icon-twitter"></i> Twitter
                        </a>
                    {% endif %}

                    {% if include.member.social.github %}
                        <a class="uk-button" href="https://github.com/{{include.member.social.github}}" target="_blank">
                            <i class="uk-icon-github"></i> GitHub
                        </a>
                    {% endif %}

                    {% if include.member.social.redit %}
                        <a class="uk-button" href="http://www.reddit.com/user/{{include.member.social.reddit}}" target="_blank">
                            <i class="uk-icon-reddit"></i> reddit
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
