<div class="team-carousel">
  <!--Placeholder card, used to simulate the vertical space required by the other cards.-->
  <div class="team-card card-center" style="visibility:hidden; position:relative;">
    <img />
    <h2>Name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</q>
    <ul class="list-no-style">
      <li><i class="fab fa-github"></i></li>
    </ul>
  </div>
  
  {%- for member in site.data.team-members -%}
    {%- if forloop.first -%}
      {%- assign position = " card-center" -%}
    {%- elsif forloop.last -%}
      {%- assign position = " card-left" -%}
    {%- elsif forloop.index0 == 1 -%}
      {%- assign position = " card-right" -%}
    {%- else forloop.index0 == 1 -%}
      {%- assign position = nil -%}
    {%- endif -%}
    <div class="team-card{{position}}" data-index={{forloop.index0}} tabindex=0>
      <img src="{{member.image}}" />
      <h2>{{member.name}}</h2>
      <p>{{member.description}}</p>
      {%- if member.quote -%}
        <q>{{member.quote}}</q>
      {%- endif -%}
      <ul class="list-no-style">
        {%- for link in member.links -%}
          <li><a href="{{link.url}}" target="_blank"><i class="fab fa-{{link.icon}}"></i></a></li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endfor -%}
</div>
<script>
  const cards = document.querySelectorAll('.team-card[data-index]');
  var centerIndex = 0;
  cards.forEach(elem => {
      elem.onclick = selectCard;
      elem.onfocus = selectCard;
    });

  function selectCard(e) {
    cards[(centerIndex + cards.length - 1) % cards.length].classList.remove("card-left");
    cards[centerIndex].classList.remove("card-center");
    cards[(centerIndex + 1) % cards.length].classList.remove("card-right");
    
    selectedIndex = parseInt(e.currentTarget.dataset.index);
    cards[(selectedIndex + cards.length - 1) % cards.length].classList.add("card-left");
    cards[selectedIndex].classList.add("card-center");
    cards[(selectedIndex + 1) % cards.length].classList.add("card-right");
    centerIndex = selectedIndex;
  }
</script>