<div class="uk-overflow-container">
    <table class="uk-table uk-table-striped uk-text-small">
        <thead>
            <tr>
                <th>Material</th>
                <th>Max. Uses</th>
                {% if include.speed %}<th>Speed</th>{% endif %}
                {% if include.miningLevel %}<th>Mining Level</th>{% endif %}
                {% if include.baseDamage %}<th>Attack Damage</th>{% endif %}
                {% if include.enchantability %}<th>Enchantability</th>{% endif %}
            </tr>
        </thead>

        {% if include.excludes %}{% assign excludes = include.excludes | split: '|' %}{% else %}{% assign excludes = [] %}{% endif %}

        <tbody>
            <tr>
                <td>Copper</td>
                <td>175</td>
                {% if include.speed %}<td>4</td>{% endif %}
                {% if include.miningLevel %}<td>1 (Iron Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 0.75 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>6</td>{% endif %}
            </tr>

            <tr>
                <td>Tin</td>
                <td>200</td>
                {% if include.speed %}<td>4.5</td>{% endif %}
                {% if include.miningLevel %}<td>1 (Iron Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 1 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>7</td>{% endif %}
            </tr>

            <tr>
                <td>Silver</td>
                <td>200</td>
                {% if include.speed %}<td>6</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 1.5 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>20</td>{% endif %}
            </tr>

            <tr>
                <td>Lead</td>
                <td>150</td>
                {% if include.speed %}<td>5</td>{% endif %}
                {% if include.miningLevel %}<td>1 (Iron Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 1 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>9</td>{% endif %}
            </tr>

            <tr>
                <td>Aluminum</td>
                <td>225</td>
                {% if include.speed %}<td>10</td>{% endif %}
                {% if include.miningLevel %}<td>1 (Iron Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 1 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>14</td>{% endif %}
            </tr>

            <tr>
                <td>Nickel</td>
                <td>300</td>
                {% if include.speed %}<td>6.5</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 2.5 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>18</td>{% endif %}
            </tr>

            <tr>
                <td>Platinum</td>
                <td>1700</td>
                {% if include.speed %}<td>9</td>{% endif %}
                {% if include.miningLevel %}<td>4 (Obsidian+)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 4 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>9</td>{% endif %}
            </tr>

            <tr>
                <td>Steel</td>
                <td>500</td>
                {% if include.speed %}<td>6.5</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 2.5 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>10</td>{% endif %}
            </tr>

            <tr>
                <td>Electrum</td>
                <td>100</td>
                {% if include.speed %}<td>14</td>{% endif %}
                {% if include.miningLevel %}<td>0 (Coal Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 0.5 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>30</td>{% endif %}
            </tr>

            <tr>
                <td>Invar</td>
                <td>450</td>
                {% if include.speed %}<td>7</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 3 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>16</td>{% endif %}
            </tr>

            <tr>
                <td>Bronze</td>
                <td>500</td>
                {% if include.speed %}<td>6</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 2 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>15</td>{% endif %}
            </tr>

            <tr>
                <td>Constantan</td>
                <td>275</td>
                {% if include.speed %}<td>6</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 1.5 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>20</td>{% endif %}
            </tr>

            {% if excludes contains 'wood' and excludes contains 'gold' and excludes contains 'stone' and excludes contains 'iron' and excludes contains 'diamond' %}{% else %}
            <tr><td colspan="7"></td></tr>
            {% endif %}

            {% if excludes contains 'wood' %}{% else %}
            <tr>
                <td>Wood</td>
                <td>{% if include.type == 'fishing-rod' %}64{% else %}60{% endif %}</td>
                {% if include.speed %}<td>2</td>{% endif %}
                {% if include.miningLevel %}<td>0 (Coal Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ -1 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>{% if include.type == 'fishing-rod' %}1{% else %}15{% endif %}</td>{% endif %}
            </tr>
            {% endif %}

            {% if excludes contains 'stone' %}{% else %}
            <tr>
                <td>Stone</td>
                <td>132</td>
                {% if include.speed %}<td>4</td>{% endif %}
                {% if include.miningLevel %}<td>1 (Iron Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 0 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>5</td>{% endif %}
            </tr>
            {% endif %}

            {% if excludes contains 'iron' %}{% else %}
            <tr>
                <td>Iron</td>
                <td>{% if include.type == 'shears' %}238{% else %}251{% endif %}</td>
                {% if include.speed %}<td>6</td>{% endif %}
                {% if include.miningLevel %}<td>2 (Diamond Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 1 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>{% if include.type == 'shears' %}-{% else %}14{% endif %}</td>{% endif %}
            </tr>
            {% endif %}

            {% if excludes contains 'gold' %}{% else %}
            <tr>
                <td>Gold</td>
                <td>33</td>
                {% if include.speed %}<td>12</td>{% endif %}
                {% if include.miningLevel %}<td>0 (Coal Ore)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ -1 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>22</td>{% endif %}
            </tr>
            {% endif %}

            {% if excludes contains 'diamond' %}{% else %}
            <tr>
                <td>Diamond</td>
                <td>1562</td>
                {% if include.speed %}<td>8</td>{% endif %}
                {% if include.miningLevel %}<td>3 (Obsidian)</td>{% endif %}
                {% if include.baseDamage %}<td>{{ 2 | plus: include.baseDamage }}</td>{% endif %}
                {% if include.enchantability %}<td>10</td>{% endif %}
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
