<img src="/assets/images/thermal-foundation/copper-{{ include.type }}.png" style="height: 64px;" title="Copper {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/tin-{{ include.type }}.png" style="height: 64px;" title="Tin {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/lead-{{ include.type }}.png" style="height: 64px;" title="Lead {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/silver-{{ include.type }}.png" style="height: 64px;" title="Silver {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/ferrous-{{ include.type }}.png" style="height: 64px;" title="Ferrous {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/shiny-{{ include.type }}.png" style="height: 64px;" title="Shiny {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/electrum-{{ include.type }}.png" style="height: 64px;" title="Electrum {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/bronze-{{ include.type }}.png" style="height: 64px;" title="Bronze {{ include.type | capitalize }}" /> 
<img src="/assets/images/thermal-foundation/invar-{{ include.type }}.png" style="height: 64px;" title="Invar {{ include.type | capitalize }}" /> 
