{% capture title %}{% if include.caption %}{{ include.caption }}{% else %}{{ include.type | capitalize }}{% endif %}{% endcapture %}
<a href="/docs/thermal-foundation/base-metals/copper">
    <img src="/assets/images/thermal-foundation/copper-{{ include.type }}.png" style="height: 64px;" title="Copper {{ title }}" />
</a>
<a href="/docs/thermal-foundation/base-metals/tin">
    <img src="/assets/images/thermal-foundation/tin-{{ include.type }}.png" style="height: 64px;" title="Tin {{ title }}" />
</a>
<a href="/docs/thermal-foundation/base-metals/lead">
    <img src="/assets/images/thermal-foundation/lead-{{ include.type }}.png" style="height: 64px;" title="Lead {{ title }}" />
</a>
<a href="/docs/thermal-foundation/base-metals/silver">
    <img src="/assets/images/thermal-foundation/silver-{{ include.type }}.png" style="height: 64px;" title="Silver {{ title }}" />
</a>
<a href="/docs/thermal-foundation/base-metals/ferrous-metal">
    <img src="/assets/images/thermal-foundation/ferrous-{{ include.type }}.png" style="height: 64px;" title="Ferrous {{ title }}" />
</a>
<a href="/docs/thermal-foundation/base-metals/shiny-metal">
    <img src="/assets/images/thermal-foundation/shiny-{{ include.type }}.png" style="height: 64px;" title="Shiny {{ title }}" />
</a>
<a href="/docs/thermal-foundation/alloys/electrum">
    <img src="/assets/images/thermal-foundation/electrum-{{ include.type }}.png" style="height: 64px;" title="Electrum {{ title }}" />
</a>
<a href="/docs/thermal-foundation/alloys/bronze">
    <img src="/assets/images/thermal-foundation/bronze-{{ include.type }}.png" style="height: 64px;" title="Bronze {{ title }}" />
</a>
<a href="/docs/thermal-foundation/alloys/invar">
    <img src="/assets/images/thermal-foundation/invar-{{ include.type }}.png" style="height: 64px;" title="Invar {{ title }}" />
</a>
