{% capture title %}{% if include.caption %}{{ include.caption }}{% else %}{{ include.type | capitalize }}{% endif %}{% endcapture %}
<img src="/assets/images/thermal-foundation/copper-{{ include.type }}.png" style="height: 64px;" title="Copper {{ title }}" /> 
<img src="/assets/images/thermal-foundation/tin-{{ include.type }}.png" style="height: 64px;" title="Tin {{ title }}" /> 
<img src="/assets/images/thermal-foundation/lead-{{ include.type }}.png" style="height: 64px;" title="Lead {{ title }}" /> 
<img src="/assets/images/thermal-foundation/silver-{{ include.type }}.png" style="height: 64px;" title="Silver {{ title }}" /> 
<img src="/assets/images/thermal-foundation/ferrous-{{ include.type }}.png" style="height: 64px;" title="Ferrous {{ title }}" /> 
<img src="/assets/images/thermal-foundation/shiny-{{ include.type }}.png" style="height: 64px;" title="Shiny {{ title }}" /> 
<img src="/assets/images/thermal-foundation/electrum-{{ include.type }}.png" style="height: 64px;" title="Electrum {{ title }}" /> 
<img src="/assets/images/thermal-foundation/bronze-{{ include.type }}.png" style="height: 64px;" title="Bronze {{ title }}" /> 
<img src="/assets/images/thermal-foundation/invar-{{ include.type }}.png" style="height: 64px;" title="Invar {{ title }}" /> 
