/* Docs */
.docs-content h2 {
  border-bottom: 1px solid var(--line-color);
}

.docs-icon {
  display: inline-block;
}

.docs-sprite {
  display: inline-block;
  vertical-align: middle;
  height: var(--sprite-size);
  width: var(--sprite-size);
  font-size: 0;
}

.docs-icon-empty {
  visibility: hidden;
}

.docs-tooltip {
  display: none;
  font-size: initial;
  position: absolute;
  background-color: var(--contrast-bg-color);
  color: var(--bg-color-1);
  padding: 8px;
  border-radius: 3px;
  bottom: calc(100% + 10px);
  white-space: pre;
  line-height: 1.1em;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

:is(:hover, :focus) + .docs-tooltip {
  display: block;
}

:is(:hover, :focus) + .docs-tooltip::after {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  bottom: -7px;
  border-top: 9px solid var(--contrast-bg-color);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.docs-navbox-link {
  display: inline-block;
  margin: 3px;
}

/* Docs Recipe */
.docs-recipe {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
}

.docs-recipe-component {
  padding: 5px;
  line-height: 0;
  position: relative;
}

.docs-item-slot {
  position: relative;
  background-color: var(--bg-color-4);
  border: 3px solid var(--bg-color-4);
}

.docs-item-count {
  position: absolute;
  bottom: 0px;
  right: -5px;
  line-height: 0;
}

.docs-item-slots-grid {
  display: grid;
  grid-gap: 8px;
}

.docs-item-slots-row {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
}

.docs-machine-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.docs-fluid-slot {
  display: inline-block;
  background-color: var(--bg-color-4);
  position: relative;
}

.docs-fluid-icon {
  position: absolute;
  bottom: 0px;
}

.docs-fluid-overlay {
  position: relative;
  display: inline-block;
  background-image: url('/images/docs/overlay-fluid-medium.png');
  height: 80px;
  width: 32px;
  background-size: cover;
  z-index: 1;
}

.docs-rf-bar {
  position: relative;
  border: 3px solid var(--bg-color-4);
  display: inline-block;
  background-image: url('/images/docs/rf-bar.png');
  height: 80px;
  width: 24px;
  background-size: cover;
}

.docs-quantity-list {
  padding-left: 1.5ch;
}

.docs-quantity-list li {
  text-indent: -1.5ch;
}

/* Docs Multiblock */
.multiblock-interactive {
  background-color: var(--bg-color-2);
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 10px;
}

.multiblock-display {
  background-color: var(--bg-color-1);
  position: relative;
}

.multiblock-block:is(:hover, :focus) .docs-sprite {
  filter: brightness(2);
}

.multiblock-slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 20px;
  height: 100%;
}

.multiblock-buttons {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
}

.multiblock-buttons button {
  color: var(--contrast-bg-color);
  cursor: pointer;
  background-color: var(--bg-color-1);
  border: 0px;
  transition: none;
}

.multiblock-buttons button:focus {
  outline: 1px solid var(--contrast-bg-color);
}

.multiblock-buttons button:is(.multiblock-button-active, :hover) {
  background-color: var(--bg-color-3);
}

.multiblock-transparent {
  opacity: 0.15;
}
