/* Basic Nav Components */
nav {
  position: relative;
  display: block;
  overflow: visible;
  width: auto;
  float: none;
}

.nav-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
  display: inline-flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.horz.nav-list {
  flex-direction: row;
}

.vert.nav-list {
  flex-direction: column;
  position: absolute;
}

.hidden-list {
  top: -9999px;
}

.nav-link {
  display: block;
  padding: 15px;
  font-size: 110%;
	background-color: var(--bg-color-4);
	color: var(--main-text-color);
}

.nav-link:is(:hover, :focus) {
	background-color: var(--bg-color-3);
	color: var(--hover-text-color);
  transition: none;
  text-decoration: none;
}

.nav-link-selected {
	background-color: var(--bg-color-1);
	color: var(--link-text-color);
}

/* Main Navbar */
.main-navbar-full {
	background-color: var(--bg-color-4);
  display: block;
  overflow: visible;
  z-index: 99;
}

.main-navbar {
  margin: auto;
  padding: 0 20px;
  max-width: 1080px;
  width: auto;
  z-index: 2;
}

.navbar-menu {
  display: none;
}

@media screen and (max-width: 650px) {
  .main-navbar .nav-list {
    display: none;
  }
  .navbar-menu {
    display: table;
    float: none;
  }
  .main-navbar .nav-list:is(:hover, :focus-within), .main-navbar .navbar-menu:is(:hover, :focus) + .nav-list {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
  }
}

/* Docs Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 10px;
  background-color: transparent;
  font-size: inherit;
  color: var(--main-text-color);
  border-bottom: 2px solid var(--main-text-color);
}

.dropdown:is(:hover, :focus-within) {
  background-color: var(--bg-color-4);
  transition: none;
}

.dropdown span {
  font-size: 1.1em;
  padding: 8px;
  display: inline-block;
}

.dropdown span::after {
  content: " ▼";
  font-size: 0.75em;
}

.dropdown ol {
  position: absolute;
  top: calc(100% + 2px);
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: none;
  background-color: var(--bg-color-3);
  z-index: 5;
}

.dropdown ol li a {
  font-size: 1.1em;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.dropdown:focus-within ol {
  display: block;
}

.dropdown ol li:is(:hover, :focus-within) {
  background-color: var(--bg-color-3);
}
