{{ define "main" }}
  {{- range .Paginator.Pages -}}
  <article>
    <h2>{{ .Title }}</h2>

    {{- if or (isset .Params "author") (isset .Params "date") -}}
      <p class="subtext">Written{{ with .Params.author }} by <strong>{{ . }}</strong>{{ end }}{{ with .Date }} on {{ . | time.Format ":date_full" }}{{ end }}</p>
    {{- end -}}

    {{ .Summary }}

    <br><a class="link-button blog-button" href="{{ .RelPermalink }}">Read more &raquo;</a>
  </article>
  <hr />
  {{- end -}}
  {{ template "_internal/pagination.html" . }}
{{ end }}

