<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ with .Title }}{{ . }} - {{ end }}{{ .Site.Title }}</title>
    
    <meta name="description" content="The official site for news, downloads and documentation for the Team CoFH Minecraft mods." />
  
    <!-- IE -->
    <link href="/images/logos/wrench.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Other Browsers -->
    <link href="/images/logos/wrench.ico" rel="icon" type="image/x-icon" />
    
    {{ $css := (slice (resources.Get "css/main.css") (resources.Get "css/nav.css") (resources.Get "css/docs.css") (resources.Get "css/search.css") (resources.Get "css/table.css")) | resources.Concat "css/cofh.css" | resources.Minify }} 
    <link rel="stylesheet" href="{{$css.Permalink}}" />
    
    <script src="https://kit.fontawesome.com/a97821a17a.js" crossorigin="anonymous" defer></script>
    <script src="{{(resources.Get `/js/main.js` | resources.ExecuteAsTemplate `cofh.js` . | resources.Minify).Permalink}}" defer></script>
    <script>
      function setTheme(e) {
        const isDark = e.target.checked;
        document.documentElement.setAttribute("data-theme", isDark?"dark":"light");
        localStorage.setItem("theme", isDark?"dark":"light");
      }
      
      if (localStorage.getItem("theme") == null) 
        localStorage.setItem("theme", "light");
      
      document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
    </script>
  </head>

  <body>
    {{ partialCached "elements/skip-nav-button" . }}
  
    {{ partialCached "main/header" .Section .Section }}
    
    <div class="body">
      {{ block "pre" . }}
      {{ end }}
      <main>
        {{ block "main" . }}
        {{ end }}
      </main>
      {{ block "post" . }}
      {{ end }}
    </div>
    
    {{ partialCached "main/footer" . }}
    
    {{ partialCached "elements/back-to-top" . }}
    
    {{ block "scripts" . }}
    {{ end }}
  </body>
</html>
