{{/* Takes data and a path for which parameter to get. Returns the param value. Useful for shortcodes. */}}
{{/* This is really just a wrapper for map_get, so I've tried merging them. This resulted in some weirdly cursed behavior that I couldn't debug, so here we are. */}}

{{ $value := partialCached "util/nil" . }}
{{ if .path }}
  {{ $keys := slice }}
  {{ range split .path "." }}
    {{ $keys = $keys | append (replace . "," ".") }}
  {{ end }}
  {{ $value = (partial "util/map_get" (dict "data" .data "keys" $keys)) }}
{{ end }}
{{ return $value }}
