html {
    overflow-y: scroll; 
}

/*
p {
    text-align: justify;
    hyphens: auto;
}
*/

.uk-text-muted a {
    color: #688fb1;
}

.uk-text-small code {
    font-size: 10px;
}

.uk-float-left .uk-thumbnail, .uk-float-right .uk-thumbnail {
    margin-bottom: 20px;
}

@media(min-width: 480px) {
    .uk-float-left .uk-thumbnail {
        margin-right: 20px;
    }

    .uk-float-right .uk-thumbnail {
        margin-left: 20px;
    }
}

.uk-navbar-brand:not(.uk-navbar-center) {
    padding-left: 0;
}

.uk-navbar-brand.uk-active, .uk-navbar .uk-navbar-nav>li.uk-active>a {
    color: #0064f1;
}

.uk-navbar-brand:hover, .uk-navbar-brand.uk-active:hover, .uk-navbar .uk-navbar-nav>li>a:hover {
    color: #2d7eef;
}

@media(min-width: 768px) {
    .uk-table.cofh-table-compress {
        width: 50%;
    }
}

@media(min-width: 768px) {
    .uk-table.cofh-table-semi-compress {
        width: 75%;
    }
}

.uk-nav-offcanvas>li>a {
    padding: 6px 15px;
}

.uk-nav-offcanvas>li>a.uk-text-danger {
    color: #dd8570 !important;
}

.uk-nav-offcanvas.cofh-nav-docs .uk-nav-header {
    color: #888888;
}

.uk-nav-offcanvas.cofh-nav-docs>li>a:hover {
    text-decoration: none;
}

.uk-table-striped tbody>tr:nth-of-type(odd) {
    background: #f8f8f8;
}

.uk-table-striped tbody>tr:nth-of-type(even) {
    background: #fdfdfd;
}

.cofh-progress-danger-faded .uk-progress-bar {
    background-color: #eda8b2;
}

.cofh-vertical-align-top {
    vertical-align: top;
}

.cofh-banner {
    width: 100%;
    height: 185px;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cofh-logo {
    position: relative;
    top: 20px;
    height: 145px;
}

.cofh-search {
    padding: 0;
}

.cofh-search input[type='text'] {
    width: 150px;
}

.uk-offcanvas .cofh-search input[type='text'] {
    width: 175px;
    border: 1px solid #555555;
    background-color: #444444;
    color: #ffffff;
}

.uk-offcanvas .cofh-search input[type='text']:focus {
    border-color: #666666;
    background-color: #555555;
}

.uk-offcanvas .cofh-search .uk-button {
    background-color: #555555;
    color: #f0f0f0;
}

.uk-offcanvas .cofh-search .uk-dropdown {
    background-color: #454545;
}

.uk-offcanvas .cofh-search .uk-nav-autocomplete>li.uk-active>a {
    background-color: #777777;
}

.cofh-download-logo {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.cofh-nav-docs>li:not(.uk-nav-header) {
    line-height: 10px;
}

.cofh-nav-docs>li.uk-active {
    background: #f5f5f5;
    color: #0064F1;
}

.cofh-nav-docs>li>a:hover {
    text-decoration: underline;
}

.cofh-clickable > .cofh-clickable-icon {
    display: none;
}

.cofh-clickable:hover > .cofh-clickable-icon {
    display: inline;
}

.cofh-item-cycle .hidden {
    display: none;
}
