p {
    text-align: justify;
}

.uk-float-left .uk-thumbnail, .uk-float-right .uk-thumbnail {
    margin-bottom: 20px;
}

@media(min-width: 480px) {
    .uk-float-left .uk-thumbnail {
        margin-right: 20px;
    }

    .uk-float-right .uk-thumbnail {
        margin-left: 20px;
    }
}

.uk-navbar-brand {
    padding-left: 0;
}

.cofh-banner {
    width: 100%;
    height: 200px;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cofh-logo {
    position: relative;
    top: 20px;
    height: 160px;
}

.cofh-download-logo {
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.cofh-nav-docs>li {
    line-height: 10px;
}

.cofh-nav-docs>li.uk-active {
    background: #f5f5f5;
}

.cofh-nav-docs>li>a:hover {
    text-decoration: underline;
}
