<strong><a href="/docs/thermal-expansion/machines/induction-smelter/">Induction Smelter</a></strong>

<div style="position: relative; width: 216px; height: 102px; background: url('/assets/images/recipe/types/induction-smelter.png')">
    {% include recipe/slot.html item=include.data.primary-input.item amount=include.data.primary-input.amount top=12 left=4 %}
    {% include recipe/slot.html item=include.data.secondary-input.item amount=include.data.secondary-input.amount top=12 left=52 %}
    {% include recipe/slot.html item=include.data.primary-output.item amount=include.data.primary-output.amount top=12 left=172 %}

    <div class="cofh-recipe-floating-text">{{include.data.energy}} RF</div>
</div>
