<div style="position: relative; width: 208px; height: 116px; background: url('/assets/images/recipe/types/te5-extruder.png')">
    {% include recipe/tank.html data=include.data.hot-input top=10 left=10 height=60 size=4000 recipe_type='te5-extruder' gauge_sprite_top=0 gauge_sprite_left=208 %}
    {% include recipe/tank.html data=include.data.cold-input top=10 left=54 height=60 size=4000 recipe_type='te5-extruder' gauge_sprite_top=0 gauge_sprite_left=208 %}
    {% include recipe/slot.html data=include.data.output top=42 left=158 %}
</div>
