<div style="position: relative; width: 164px; height: 112px; background: url('/assets/images/recipe/types/te5-pulverizer.png')">
    {% include recipe/slot.html data=include.data.input top=16 left=10 %}
    {% include recipe/slot.html data=include.data.primary-output top=18 left=114 %}

    {% if include.data.secondary-output %}
        {% include recipe/slot.html data=include.data.secondary-output top=70 left=114 %}

        {% if include.data.secondary-chance %}
            <div class="cofh-recipe-floating-text" style="top: 80px; right: 56px; text-align: right">
                {{include.data.secondary-chance}}%
            </div>
        {% endif %}
    {% endif %}
</div>
