<div style="position: relative; width: 164px; height: 140px; background: url('/assets/images/recipe/types/transposer-empty.png')">
    {% include recipe/slot.html data=include.data.input top=30 left=18 %}
    {% include recipe/tank.html data=include.data.fluid-output top=10 left=122 size=1000 recipe_type='transposer-empty' gauge_sprite_top=0 gauge_sprite_left=164 %}

    {% if include.data.item-output %}
        {% include recipe/slot.html data=include.data.item-output top=90 left=18 %}
    {% endif %}
</div>
