---
layout: default
---

<div class="body">
  <div class="content">
    <main id="main-content">
      {%- for post in paginator.posts -%}
      <article>
        <h2>{{ post.title }}</h2>

        {%- if post.author or post.date -%}
        <p class="subtext">Written{% if post.author %} by <strong>{% if post.author_url %}<a href="{{ post.author_url }}">{% endif %}{{ post.author }}{% if post.author_url %}</a>{% endif %}</strong>{% endif %}{% if post.date %} on {{ post.date | date: '%A, %B %-d, %Y' }}{% endif -%}</p>
        {%- endif -%}

        {{ post.excerpt }}

        <a class="link-button blog-button" href="{{ post.url }}">Read more &raquo;</a>
      </article>
      <hr />
      {%- endfor -%}
    </main>
      
    <nav class="blog-nav" role="navigation" aria-label="Blog Navigation">
      {%- assign max_buttons = 5 -%}

      {%- assign max_buttons_sides = max_buttons | minus: 1 | divided_by: 2 -%}
      {%- assign max_buttons_left = max_buttons_sides | floor -%}
      {%- assign max_buttons_right = max_buttons_sides | ceil -%}

      {%- assign start = paginator.page | minus: max_buttons_left -%}
      {%- if start < 1 -%}{%- assign start = 1 -%}{%- endif -%}
      {%- assign end = paginator.page | plus: max_buttons_right -%}
      {%- if end > paginator.total_pages -%}{%- assign end = paginator.total_pages -%}{%- endif -%}

      {%- assign current_start_diff = paginator.page | minus: start -%}
      {%- assign current_end_diff = end | minus: paginator.page -%}

      {%- if current_start_diff < max_buttons_left -%}
        {%- assign start = 1 -%}
        {%- assign end = max_buttons -%}
        {%- if end > paginator.total_pages -%}{%- assign end = paginator.total_pages -%}{%- endif -%}
      {%- endif -%}
      {%- if current_end_diff < max_buttons_right -%}
        {%- assign start = paginator.total_pages | plus: 1 | minus: max_buttons -%}
        {%- if start < 1 -%}{%- assign start = 1 -%}{%- endif -%}
        {%- assign end = paginator.total_pages -%}
      {%- endif -%}
      
      <ul class="nav-list blog-nav-list">
        
        <li><a class={%- if paginator.previous_page -%}"nav-link" href="/blog" {%- else -%}"nav-link blog-nav-disabled" aria-disabled="true" {%- endif -%}aria-label="Goto First Page">&laquo;</a></li>
      
        <li><a class={%- if paginator.previous_page -%}"nav-link blog-nav-left-arrow" href="{{ paginator.previous_page_path }}" {%- else -%}"nav-link blog-nav-left-arrow blog-nav-disabled"aria-disabled="true" {%- endif -%}aria-label="Goto Previous Page">&lsaquo;</a></li>

        {%- for page in (start..end) -%}
          <li><a class={%- if page == paginator.page -%}"nav-link blog-nav-selected" aria-disabled="true" {%- elsif page == 1 -%}"nav-link" href="/blog" {%- else -%}"nav-link" href="{{ site.paginate_path | replace: ':num', page }}" {%- endif -%}aria-label="Goto Page {{ page }}">{{ page }}</a></li>
        {%- endfor -%}
        
        <li><a class={%- if paginator.next_page -%}"nav-link blog-nav-right-arrow" href="{{ paginator.next_page_path }}" {%- else -%}"nav-link blog-nav-right-arrow blog-nav-disabled" aria-disabled="true" {%- endif -%}aria-label="Goto Next Page">&rsaquo;</a></li>
      
        <li><a class={%- if paginator.next_page -%}"nav-link" href="{{ site.paginate_path | replace: ':num', paginator.total_pages }}" {%- else -%}"nav-link blog-nav-disabled" aria-disabled="true" {%- endif -%}aria-label="Goto Last Page">&raquo;</a></li>
        
      </ul>
    </nav>
    
  </div>
</div>
