---
layout: default
---

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1 uk-width-medium-3-4 uk-margin-top">
        {{ content }}
    </div>
    
    <div class="uk-width-1-1 uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box" data-uk-sticky="{ top: 55 }">
            <ul class="uk-nav uk-nav-side">
                <li>
                    <a href="http://www.twitter.com/TeamCoFH" target="_blank"><i class="uk-icon-twitter"></i> Twitter</a>
                </li>
                <li>
                    <a href="http://www.curse.com/users/TeamCoFH" target="_blank"><i class="uk-icon-download"></i> Curse</a>
                </li>
                <li>
                    <a href="http://minecraft.curseforge.com/members/TeamCoFH" target="_blank"><i class="uk-icon-database"></i> CurseForge</a>
                </li>
                <li>
                    <a href="http://www.github.com/CoFH" target="_blank"><i class="uk-icon-github"></i> GitHub</a>
                </li>
                <li>
                    <a href="http://www.github.com/CoFH/Feedback/issues" target="_blank"><i class="uk-icon-exclamation-circle"></i> Bugs and suggestions</a>
                </li>
                <li>
                    <a href="http://webchat.esper.net/?nick=RedstoneFurnace....&channels=#ThermalExpansion" target="_blank" class="irclink"><i class="uk-icon-comments"></i> IRC Web Chat</a>
                </li>
                <li>
                    <a href="http://www.crafting-guide.com" target="_blank"><i class="uk-icon-wrench"></i> Crafting Guide</a>
                </li>
                <li class="uk-nav-divider"></li>
                <li{% if page.url == '/archive.html' %} class="uk-active"{% endif %}>
                    <a href="/archive.html">
                        <i class="uk-icon-clock-o"></i> Archive
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
