---
layout: default
---

<div class="uk-grid">
    <div class="uk-width-1-1 uk-width-medium-3-4 uk-margin-top">
        {{ content }}
    </div>
    
    <div class="uk-width-1-1 uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box" data-uk-sticky="{ top: 55 }">
            <h3 class="uk-panel-title"><i class="uk-icon-external-link"></i> Links</h3>
            <ul class="uk-nav uk-nav-side">
                <li>
                    <a href="http://www.twitter.com/TeamCoFH" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="http://www.github.com/CoFH/Feedback" target="_blank">Bugs and Suggestions</a>
                </li>
                <li>
                    <a href="http://webchat.esper.net/?nick=RedstoneFurnace....&channels=#ThermalExpansion" target="_blank" class="irclink">IRC Web Chat</a>
                </li>
                <li>
                    <a href="http://www.crafting-guide.com" target="_blank">Crafting Guide</a>
                </li>
            </ul>
        </div>
    </div>
</div>
