---
layout: default
---

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-1-1 uk-width-medium-3-4 uk-margin-top">
        {{ content }}

        <div class="uk-visible-small">
            <hr />

            {% include twitter-timeline.html height=450 %}
        </div>
    </div>

    <div class="uk-width-1-1 uk-width-medium-1-4 uk-hidden-small">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-nav uk-nav-side">
                {% include externallinks.html icons=true %}
                <li class="uk-nav-divider"></li>
                <li{% if page.url contains '/archive' %} class="uk-active"{% endif %}>
                    <a href="/archive/">
                        <i class="uk-icon-clock-o"></i> Archive
                    </a>
                </li>
            </ul>
        </div>

        <hr />

        {% include twitter-timeline.html height=450 %}
    </div>
</div>
