---
layout: null
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title }} - {% endif %}Team CoFH</title>
    
    <meta name="description" content="The official site for news, downloads and documentation for the Team CoFH Minecraft mods." />
  
    <!-- IE -->
    <link href="/assets/images/logos/wrench.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Other Browsers -->
    <link href="/assets/images/logos/wrench.ico" rel="icon" type="image/x-icon" />

    <link rel="stylesheet" href="/assets/css/main.css{{cache_buster}}" />
    <link rel="stylesheet" href="/assets/css/nav.css{{cache_buster}}" />
    <link rel="stylesheet" href="/assets/css/docs.css{{cache_buster}}" />
    <link rel="stylesheet" href="/assets/css/search.css{{cache_buster}}" />
    <link rel="stylesheet" href="/assets/css/table.css{{cache_buster}}" />

    <script src="https://kit.fontawesome.com/a97821a17a.js" crossorigin="anonymous"></script>
    <script src="/assets/js/cofh.js" defer></script>
    <script>
      function setTheme(e) {
        const isDark = e.target.checked;
        document.documentElement.setAttribute("data-theme", isDark?"dark":"light");
        localStorage.setItem("theme", isDark?"dark":"light");
      }
      
      if (localStorage.getItem("theme") == null) 
        localStorage.setItem("theme", "light");
      
      document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
    </script>
  </head>

  <body>
    {% include elements/skip-nav-button.html %}
    
    {% include main/header.html %}
    
    {{ content }}
    
    {% include main/footer.html %}
    
    {% include elements/back-to-top.html %}
  </body>
</html>
