<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - Team CoFH</title>
		<link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		{% include uikit.html %}
	</head>
	<body>
		<div class="uk-container uk-container-center uk-margin-large-bottom">
			{% include navbar.html %}
			
			{% if page.title != 'Home' %}
			<ul class="uk-breadcrumb uk-margin-large-top">
			<li><a href="/">Home</a></li>
			{% for group in page.groups %}
				{% for sitepage in site.pages %}
					{% if sitepage.title == group %}
						<li><a href="{{ sitepage.url }}">{{ group }}</a></li>
					{% endif %}
				{% endfor %}
			{% endfor %}
			<li class="uk-active"><span>{{ page.title }}</span></li>
			</ul>
			{% endif %}
			
			<h1>{{ page.title }}</h1>
			<hr class="uk-margin-bottom" />
			
			{{ content }}
			
			<div class="uk-width-1-1 uk-text-center uk-margin-large-top"><a href data-uk-smooth-scroll><i class="uk-icon-large uk-icon-chevron-up"></i></a></div>
		</div>
	</body>
</html>
