<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - Team CoFH</title>
		<!-- IE -->
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<!-- Other Browsers -->
		<link href="/favicon.ico" rel="icon" type="image/x-icon" />
		{% include css-js.html %}
		
		<script type="text/javascript">
			$(function() {
				$('#sidebar-menu').mmenu({
					classes: 'mm-light mm-slide',
					searchfield: true,
					header: {
						add: true,
						update: true,
						title: 'Team CoFH'
					}
				});
                
                var nicks = [ 'RedstoneFurnace', 'PhytogenicInsolator', 'CyclicAssembler', 'FluidTransposer', 'SkyboysSlave', 'TonisSlave', 'AutonomousActivator', 'TerrainSmasher', 'ImplusePlate' ];
                
                var nick = nicks[Math.floor(Math.random() * nicks.length)];
                $('.irclink a').attr('href', 'http://webchat.esper.net/?nick=' + nick + '....&channels=#ThermalExpansion'); 
			});
		</script>
	</head>
	<body class="uk-margin-large-bottom">
		<nav id="sidebar-menu" class="uk-width-1-5 cofh-padding">
			{% include mmenu.html items=site.data.tree %}
		</nav>
		<div class="uk-grid">
			<div class="uk-width-1-4"></div>
			<div class="uk-width-3-4 cofh-padding">
				<h1>{{ page.title }}</h1>
				
				{{ content }}
			</div>
		</div>
	</body>
</html>
