---
layout: default
---

{%- assign docs-by-version = site.pages | where: "layout", "docs" | group_by: "version" | sort: "name" -%}

<div class="body">
  {% include docs/nav/navtabs.html %}
  <main id="main-content" class="docs-content content">
    <h1>{{ page.title }}</h1>
    <div class="subtext">{{ page.mod }} {{ page.version }}</div>
    <hr>
    {% include docs/nav/table-of-contents.html html=content ordered=true %}
    <article>
      {%- include docs/image.html -%}
      
      {{ content }}
    </article>
  </main>
  {% include docs/nav/navbox.html %}
</div>
<script src="/assets/js/cofh-docs.js"></script>