---
layout: default
styles:
    - /assets/css/highlight/vs.css
    - /assets/css/uikit/components/slidenav.min.css
    - /assets/css/uikit/components/slider.min.css
scripts:
    - /assets/js/uikit/components/lightbox.min.js
    - /assets/js/uikit/components/slider.min.js
---

<div id="cofh-docs-content" class="uk-width-1-1 uk-width-medium-3-4 uk-container-center">
    <h1>{{ page.title }}</h1>
    <hr />

    {% if page.outdated %}
        {% include page-outdated.html %}
    {% endif %}

    {% if page.wip %}
        {% include page-wip.html %}
    {% endif %}

    {% if page.image %}
        {% include page-image.html data=page.image %}
    {% endif %}

    {{ content }}

    {% if page.nav %}
        <div class="uk-width-1-1 uk-width-medium-5-6 uk-container-center" style="margin-top: 65px">
            {% include navbox.html nav=page.nav %}
        </div>
    {% endif %}
</div>
