---
layout: default
---

<div id="cofh-docs-content" class="uk-width-1-1 uk-width-medium-3-4 uk-container-center">
    <h1>{{ page.title }}</h1>
    <hr />

    {% if page.outdated %}
        <div class="uk-alert uk-alert-danger">
            <p>
                This page is <strong>outdated</strong>. It will soon be updated or rewritten to match the latest version of the mod.
            </p>
            <p>
                This version of the page will remain available <a href="https://oldcofh.github.io/docs/">here</a>.
            </p>
        </div>
    {% endif %}

    {{ content }}

    {% if page.nav %}
        <div class="uk-width-1-1 uk-width-medium-4-5 uk-container-center" style="margin-top: 65px">
            {% include navbox.html nav=page.nav %}
        </div>
    {% endif %}
</div>
