---
layout: blog
---

<div class="uk-container-center uk-width-1-1 uk-width-medium-3-4">
    <article class="uk-article">
        <h1 class="uk-article-title">{{ page.title }}</h1>

        {% if page.author or page.date %}
        <p class="uk-article-meta">Written{% if page.author %} by <strong>{% if page.author_url %}<a href="{{ page.author_url }}">{% endif %}{{ page.author }}{% if page.author_url %}</a>{% endif %}</strong>{% endif %}{% if page.date %} on {{ page.date | date: '%A, %B %-d, %Y' }}{% endif %}</p>
        {% endif %}

        <hr />

        {{ content }}
    </article>

    <div class="uk-clearfix uk-margin-large-top">
        {% if page.next %}<a href="{{ page.next.url }}" class="uk-float-left uk-button uk-button-mini">&laquo; {{ page.next.title }}</a>{% endif %}
        {% if page.previous %}<a href="{{ page.previous.url }}" class="uk-float-right uk-button uk-button-mini">{{ page.previous.title }} &raquo;</a>{% endif %}
    </div>
</div>
