{{- /* This shortcode helps with displaying lists of docs from ID and/or URL arrays. */ -}}

{{- if .IsNamedParams -}}
  {{ partial "docs/link_list" (dict "Page" .Page "version" (string (default (.Get "version") .Page.Params.version)) 
"ids" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "ids_param"))) (.Get "ids")) 
"urls" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "urls_param"))) (.Get "uses"))) }}
{{- else -}}
  {{- errorf "link_list shortcode on page %v requires named parameters, not positional parameters!" .Page.RelPermalink -}}
{{- end -}}
