{{- /* This shortcode displays interactive multiblock figures. A pattern and mapping are required, and may be passed in using:
  data_path - The path to the data file in .Site.Data. Periods should be replaced with commas. For example, "docs.1,16.multiblocks.tree_extractor"
  data_param - If the multiblock is specified in front matter (not recommended), you pass a key in this way.
  
  Alternatively, you can specify the pattern and mapping from different locations separately using pattern_path, mapping_path, pattern_param, and mapping_param. This could be useful if you wanted to e.g. use the same pattern data for multiple pages, but change the mapping to have different blocks.
 */ -}}
 
{{- $data := dict -}}
{{- if $path := (.Get "data_path") -}}
  {{- $data = partial "util/path_get" (dict "data" .Site.Data "path" $path) -}}
{{- else if $path := (.Get "data_param") -}}
  {{- $data = partial "util/path_get" (dict "data" .Page "path" $path) -}}
{{- end -}}

{{- $pattern := slice -}}
{{- $mapping := dict -}}
{{- if $data -}}
  {{- $pattern = index $data "pattern" -}}
  {{- $mapping = index $data "mapping" -}}
{{- else -}}
  {{- if $patt_path := (.Get "pattern_path") -}}
    {{- $pattern = partial "util/path_get" (dict "data" .Site.Data "path" $patt_path) -}}
  {{- else if $patt_path := (.Get "pattern_param") -}}
    {{- $pattern = partial "util/path_get" (dict "data" .Page "path" $patt_path) -}}
  {{- end -}}
  {{- if $map_path := (.Get "mapping_path") -}}
    {{- $mapping = partial "util/path_get" (dict "data" .Site.Data "path" $map_path) -}}
  {{- else if $map_path := (.Get "mapping_param") -}}
    {{- $mapping = partial "util/path_get" (dict "data" .Page "path" $map_path) -}}
  {{- end -}}
{{- end -}}

{{ partial "docs/multiblock/interactive" (dict "Page" .Page "version" (string (default (.Get "version") .Page.Params.version)) 
"pattern" $pattern "mapping" $mapping "title" (.Get "title")) }}
