{{- /* This is the main shortcode for displaying recipes. It takes 0-5 arguments:
  types - Limits the recipe types to those passed in. Allows all types otherwise.
  ids - Adds specific recipe IDs to the list.
  uses - Adds all recipes that use at least one of the items/fluids passed in.
  makes - Adds all recipes that make at least one of the items/fluids passed in.
  excluding - Excludes any recipes that involve at least one of the items/fluids passed in.
  
  In order to pass in a value from .Page.Params, such as an array, you can pass a key to (argument + "_param").
  For example, you can list all recipes that make your page's subjects:
  {{<recipe_list makes_param="subjects">}}
 */ -}}
{{- if .IsNamedParams -}}
  {{ partial "docs/recipe/list" (dict "Page" .Page "version" (string (default (.Get "version") .Page.Params.version)) 
"types" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "types_param"))) (.Get "types")) 
"ids" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "ids_param"))) (.Get "ids")) 
"uses" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "uses_param"))) (.Get "uses")) 
"makes" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "makes_param"))) (.Get "makes")) 
"excluding" (default (partial "util/path_get" (dict "data" .Page.Params "path" (.Get "excluding_param"))) (.Get "excluding"))) }}
{{- else -}}
  {{- errorf "recipe_list shortcode on page %v requires named parameters, not positional parameters!" .Page.RelPermalink -}}
{{- end -}}
