{% assign item_name = include.item %}
{% assign item_data = site.data.recipes.items[item_name] %}
{% assign item_site = site.data.recipes.sites[item_data.site] %}

<a href="{{ item_site.url }}{{ item_data.url }}">
    <div class="cofh-recipe-item-sprite" title="{{ item_data.name }}" data-uk-tooltip="{pos: 'top', offset: 4}">
        {% if item_data.animated %}
            <img src="/assets/images/recipe/item-sprites/{{ item_name }}.gif" class="cofh-recipe-item-sprite" />
        {% else %}
            <div class="cofh-recipe-item-sheet-sprite" style="background-position: -{{ item_data.sprite[0] | times: 32 }}px -{{ item_data.sprite[1] | times: 32 }}px;"></div>
        {% endif %}
    </div>
</a>
